<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.js"></script>

    <title>TEST Eximagen</title>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .mt-auto {
            margin-top: auto;
        }

        .custom-navbar {
            height: 65px;
            background-color: #252525;
            color: #FCF8EE;
        }

        .custom-navbar::after {
            position: absolute;
            content: "as";
            left: 0;
            right: 0;
            top: 0;
            height: 400px;
            background-color: #252525;
            z-index: -1;
        }

        .form-title {
            color: #B13D5A;
        }

        .left-title {
            position: absolute;
            left: 20px;

        }

        .left-title .left-title-text {
            font-size: 50px;
            font-weight: bold;
        }

        .left-subtitle-text {
            font-size: 20px;
            font-style: italic;
        }

        .custom-footer {
            background-color: #252525;
        }

        .form-submit-btn {
            color: #fff;
            background-color: #9E0B0F;
            border-radius: 0;
        }

        @media(max-width: 992px) {
            .left-title .left-title-text {
                font-size: 37px;
            }

            .left-subtitle-text {
                font-size: 14px;
                font-style: italic;
            }

        }
    </style>
</head>

<body>
    <nav class="navbar custom-navbar mb-4">
        <h4 class="font-weight-bold"> INDUSTRIAL </h4>
    </nav>
    <div class="container mb-4" ng-app="eximagenTest" ng-controller="formCtrl">
        <div class="row">
            <div class="left-title hidden-sm-down d-none d-md-block ">
                <p class="text-white left-title-text">
                    DON'T MAKE ME ZOOM
                </p>
                <p class="text-white left-subtitle-text">
                    7 Reasons Industrials and B2Bs Need Responsive Websites
                </p>
            </div>
            <form class="col-md-5 offset-md-7 bg-white">
                <div class="row mt-4 mb-2">
                    <h4 class="text-center col-10 offset-1 form-title">Complete de form to get your Free Guide.</h4>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="nombre">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" ng-class="{'is-invalid': submitted && !nameReal}"
                        id="nombre" ng-model="name" placeholder="">
                    <div class="invalid-feedback">
                        Nombre requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="apeellidoPaterno">Apellido Paterno <span
                            class="text-danger">*</span></label>
                    <input type="text" class="form-control" ng-class="{'is-invalid': submitted && !lastNameReal}"
                        id="apeellidoPaterno" ng-model="lastName" placeholder="">
                    <div class="invalid-feedback">
                        Apellido paterno requerido.
                    </div>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" for="apellidoMaterno">Apellido Materno <span
                            class="text-danger">*</span></label>
                    <input type="text" class="form-control" ng-class="{'is-invalid': submitted && !mothersNameReal}"
                        id="apellidoMaterno" ng-model="mothersName" placeholder="">
                    <div class="invalid-feedback">
                        Apellido materno requerido.
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" ng-class="{'is-invalid': submitted && !agreeTerms}"
                        id="aceptoAcuerdos" ng-model="agreeTerms">
                    <label class="form-check-label" for="aceptoAcuerdos">Estoy de acuerdo que mis datos se incorporen en
                        una base de datos.</label>
                    <div class="invalid-feedback">
                        Debes aceptar para continuar.
                    </div>
                </div>
                <div class="row justify-content-center mt-4 mb-4">
                    <button ng-click="send()" class="btn form-submit-btn">DOWNLOAD YOUR GUIDE</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="mt-auto custom-footer">
        <div class="container p-2">
            <div class="row">
                <div class="col-md-6 text-white mb-4">
                    <h5>Datos</h5>
                    <p class="mb-0">Nombre: Alejandro Santamaría Canseco</p>
                    <p class="mb-0">Edad: 24 años</p>
                    <p class="mb-0">Puesto: Desarrollador frontend</p>
                </div>
                <div class="col-md-6 text-white mb-4">
                    <h5>Contacto</h5>
                    <p class="mb-0">Email: santamariaca7@gmail.com</p>
                    <p class="mb-0">Tel: 55 6066 4857</p>
                </div>
            </div>
        </div>
    </footer>

</body>

<script>
    var app = angular.module('eximagenTest', []);
    app.controller('formCtrl', function ($scope, $http) {
        $scope.name = "";
        $scope.lastName = "";
        $scope.mothersName = "";
        $scope.agreeTerms = false;
        $scope.submitted = false;

        $scope.nameReal = "";
        $scope.lastNameReal = "";
        $scope.mothersNameReal = "";

        $scope.$watch('name', function (newVal, oldVal) {
            if ($scope.nameReal.length != newVal.length) {
                $scope.nameReal = storeRealValue($scope.nameReal, newVal);
                $scope.name = changeChars($scope.nameReal);
            }
        }, true);

        $scope.$watch('lastName', function (newVal, oldVal) {
            if ($scope.lastNameReal.length != newVal.length) {
                $scope.lastNameReal = storeRealValue($scope.lastNameReal, newVal);
                $scope.lastName = changeChars($scope.lastNameReal);
            }
        }, true);

        $scope.$watch('mothersName', function (newVal, oldVal) {
            if ($scope.mothersNameReal.length != newVal.length) {
                $scope.mothersNameReal = storeRealValue($scope.mothersNameReal, newVal);
                $scope.mothersName = changeChars($scope.mothersNameReal);
            }
        }, true);

        function storeRealValue(storedValue, newVal) {
            if (storedValue.length < newVal.length) {
                return storedValue + newVal.slice(-1);
            } else {
                return storedValue.slice(0, -1);
            }
        }

        function changeChars(text) {
            if (text && text.length > 0) {
                var tmpText = text.normalize("NFD").replace(/[\u0300-\u036f]/g, "%").replace(/n%/g, "#").replace(/\w%/g, "%");
                return tmpText;
            }
            return text;
        }

        $scope.send = function () {
            $scope.submitted = true;
            if ($scope.nameReal && $scope.lastNameReal && $scope.mothersNameReal && $scope.agreeTerms) {
                const body = {
                    nombre: $scope.nameReal,
                    apellido_paterno: $scope.lastNameReal,
                    apellido_materno: $scope.mothersNameReal
                };
                $http.post("https://postman-echo.com/post", body).then(function (res) {
                    window.swal.fire({
                        type: 'success',
                        title: 'Exito',
                        html: `<pre style="text-align: initial; padding-left: 100px;">${JSON.stringify(res.data.data, undefined, 2)}</pre >`,
                        showConfirmButton: true,
                    });
                }, function (error) {
                    console.error("ERROR: ", error);
                    window.swal.fire({
                        type: 'error',
                        text: 'Algo salió mal'
                    });
                });
            }
        }
    });
</script>

</html>